
!!!
%html{ lang: I18n.locale.to_s }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width', name: 'viewport' }/
    %title= yield_or_default :title, controller.action_name.titlecase
    = csrf_meta_tags
    = yield :head
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .hero-unit
      .row
        .col-md-6
          .container
            #left-well.well-sm
              %h1 Flux
              %ul 
                %li unconventional spate of progressions, rates, or emanations
                %li universal ripples of resistance and relief
                %li reflections, and signals - sequences unassociated with dreams by which imagination can be reciprocated and collaborated
            #left-well-back.well-sm{style: "display: none;"}
              %h3 Announcing FluXCo.dE
              %a.close{"data-dismiss" => "modal"} &times;
              %p FluXCo.dE is an experiment with two primary goals. With humility, the first goal is to teach everyone how to code, by engaging them in a creative, collaborative, communicative, and (sometimes) chaotic manner.</p><p>The second, slightly less hunble goal, is to bring the fun and mystery back to coding. Check back often as we approach our beta test and official launch dates for more exciting developments! And make sure to sign up for regular email announcements so that you won't miss a single moment of the adventure!
              %a.btn.btn-large.btn-success Request an Invite
              .row
                .col-md-6
                  %h5 Join the FluXCo.dE Announcement List!
        .col-md-6
          .container
            #right-well.well-sm
              %h1.text-right Code
              %ul
                %li conventionalized set of principles, rules, or expectations
                %li personal patterns of behavior and belief
                %li runes, letters, and symbols - systems of association
                by means of which information can be represented or communicated 
            #right-well.well-sm{style: "display: none;"}
              %h3 Contact FluXCo.dE
              %a.close{"data-dismiss" => "modal"} &times;
              %p Fill out this form ... Or the one that will be up shortly ... To get in touch with the mad geniuses behind FluXCo.dE
              %a.btn.btn-large.btn-success Contact Us
              .row
                .col-md-6
                  %h5 Join the FluXCo.dE Announcement List!
    .container
      .container
        .container
          .row
            .container
              .col-md-6
                .container &nbsp;
        %ul.nav.nav-justified.nav-tabs
          %li
            %a{href: "aboutResponder()"}
              %h3 About
          %li
            %a{href: "homeResponder()" }
              %h3 Home
          %li
            %a{href: "contactResponder()" }
              %h3 Contact
        .container
          .row
            .container
              .col-md-6
                .container &nbsp;
        #jumbo.jumbotron.text-center
          .well
            %h1 FluXCo.dE
            %h3 the state of constant change in which all things exist
            %h6.text-muted.text-sm.disabled (philosophy of Heraclitus) 
          .container
            .row
              %p
          .btn-group.btn-group-justified
            %h2.btn.btn-lg.btn-info.disabled change
            %h2.btn.btn-lg.btn-warning.disabled YouR
            %a.btn.btn-lg.btn-success{"data-toggle" => "modal", href: "#makeEvent"} MAKE
            %h2.btn.btn-lg.btn-warning.disabled YouR
            %h2.btn.btn-lg.btn-info.disabled change
          #signup.modal.hide.fade.in{style: "display: none;"}
            .modal-header 
              %a.close{"data-dismiss" => "modal"} &times;
              %h3 Join the FluXCo.dE Announcement List!
            .modal-body
              %a.btn.btn-large.btn-success Request an Invite
            .modal-footer
        .container
        #jumbo-back.jumbotron.text-center{style: "display: none;"}
          .well
            %h1 Check back soon to see who else is eager to be a part of FluXCo.dE
        }
        .row
          .container= render 'shared/footer'
